Repository JeremieDoctrine/dd-trace-js, changes with the owners that CODEOWNERS names for each.
All owners: @DataDog/dd-trace-js, @DataDog/appsec-js, @DataDog/serverless

CODEOWNERS:

* @DataDog/dd-trace-js
/packages/dd-trace/src/appsec/ @DataDog/appsec-js
/packages/dd-trace/test/appsec/ @DataDog/appsec-js
/packages/dd-trace/src/lambda/ @DataDog/serverless
/packages/dd-trace/test/lambda/ @DataDog/serverless

switch to a mostly working test sqlserver
  docker-compose.yml
Owners: @DataDog/dd-trace-js

add v0 naming to tedious (mssql)
  packages/datadog-plugin-tedious/src/index.js
  packages/datadog-plugin-tedious/test/index.spec.js
  packages/datadog-plugin-tedious/test/naming.js
  packages/dd-trace/src/service-naming/schemas/v0/storage.js
Owners: @DataDog/dd-trace-js

add v1 naming to tedious (mssql)
  packages/datadog-plugin-tedious/test/index.spec.js
  packages/datadog-plugin-tedious/test/naming.js
  packages/dd-trace/src/service-naming/schemas/v1/storage.js
Owners: @DataDog/dd-trace-js

itr logic to cypress
  packages/datadog-plugin-cypress/src/plugin.js
  packages/datadog-plugin-cypress/src/support.js
Owners: @DataDog/dd-trace-js

Initial code for code hotspots in wall profiler
  packages/dd-trace/src/profiling/profilers/wall.js
Owners: @DataDog/dd-trace-js

many more endpoints and tests
  packages/datadog-instrumentations/src/openai.js
  packages/datadog-plugin-openai/src/index.js
  packages/datadog-plugin-openai/test/dave-hal.jsonl
  packages/datadog-plugin-openai/test/index.spec.js
Owners: @DataDog/dd-trace-js

add instrumentation for the openai package
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/openai.js
  packages/datadog-plugin-openai/src/endpoints.js
  packages/datadog-plugin-openai/src/index.js
  packages/datadog-plugin-openai/test/index.spec.js
  packages/dd-trace/src/plugins/index.js
Owners: @DataDog/dd-trace-js

list models, retrieve models tests, change resource name
  packages/datadog-plugin-openai/src/index.js
  packages/datadog-plugin-openai/test/index.spec.js
Owners: @DataDog/dd-trace-js

createFineTune, retrieveFineTune, listFineTunes, listFineTuneEvents, deleteModel, cancelFineTune
  packages/datadog-plugin-openai/src/index.js
  packages/datadog-plugin-openai/test/index.spec.js
Owners: @DataDog/dd-trace-js

createTranslation, createTranscription
  packages/datadog-plugin-openai/src/index.js
  packages/datadog-plugin-openai/test/guten-tag.m4a
  packages/datadog-plugin-openai/test/hal.png
  packages/datadog-plugin-openai/test/hello-friend.m4a
  packages/datadog-plugin-openai/test/index.spec.js
Owners: @DataDog/dd-trace-js

Remove workflows to reduce PR build times, to restore it later
  .github/workflows/ci-visibility-performance.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/core.yml
  .github/workflows/lambda.yml
  .github/workflows/package-size.yml
  .github/workflows/plugins.yml
  .github/workflows/pr-labels.yml
  .github/workflows/profiling.yml
  .github/workflows/project.yml
  .github/workflows/release-2.yml
  .github/workflows/release-3.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-latest.yml
  .github/workflows/release-proposal.yml
  .github/workflows/serverless-integration-test.yml
  .github/workflows/serverless-performance.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-k8s-lib-injection.yaml
  .github/workflows/tracing.yml
Owners: @DataDog/dd-trace-js

Remove unnecessary async
  packages/dd-trace/test/appsec/iast/utils.js
Owners: @DataDog/appsec-js

Force same command execution in taint-tracking tests (always ls #something)
  packages/dd-trace/test/appsec/iast/taint-tracking/resources/propagationFunctions.js
Owners: @DataDog/appsec-js

Revert "Remove workflows to reduce PR build times, to restore it later"
  .github/workflows/ci-visibility-performance.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/core.yml
  .github/workflows/lambda.yml
  .github/workflows/package-size.yml
  .github/workflows/plugins.yml
  .github/workflows/pr-labels.yml
  .github/workflows/profiling.yml
  .github/workflows/project.yml
  .github/workflows/release-2.yml
  .github/workflows/release-3.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-latest.yml
  .github/workflows/release-proposal.yml
  .github/workflows/serverless-integration-test.yml
  .github/workflows/serverless-performance.yml
  .github/workflows/system-tests.yml
  .github/workflows/test-k8s-lib-injection.yaml
  .github/workflows/tracing.yml
Owners: @DataDog/dd-trace-js

Prevent sampling in IAST tests
  packages/dd-trace/test/appsec/iast/utils.js
Owners: @DataDog/appsec-js

Detect vulnerabilities in sequelize and ignore when sql is already validated by it
  packages/datadog-instrumentations/src/helpers/hooks.js
  packages/datadog-instrumentations/src/sequelize.js
  packages/dd-trace/src/appsec/iast/analyzers/sql-injection-analyzer.js
  packages/dd-trace/src/appsec/iast/analyzers/vulnerability-analyzer.js
  packages/dd-trace/src/appsec/iast/path-line.js
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Add sequelize test
  .github/workflows/appsec.yml
  packages/datadog-instrumentations/src/sequelize.js
  packages/dd-trace/src/appsec/iast/analyzers/sql-injection-analyzer.js
  packages/dd-trace/test/appsec/iast/analyzers/path-traversal-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/sql-injection-analyzer.sequelize.plugin.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/sql-injection-analyzer.spec.js
  packages/dd-trace/test/appsec/iast/analyzers/weak-cipher-analyzers.spec.js
  packages/dd-trace/test/appsec/iast/utils.js
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Support ORACLE in redactions
  packages/datadog-instrumentations/src/sequelize.js
  packages/dd-trace/src/appsec/iast/analyzers/sql-injection-analyzer.js
  packages/dd-trace/src/appsec/iast/taint-tracking/plugin.js
  packages/dd-trace/src/appsec/iast/vulnerabilities-formatter/evidence-redaction/sensitive-analyzers/sql-sensitive-analyzer.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/index.spec.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/resources/evidence-redaction-suite.json
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Fix test
  packages/dd-trace/test/appsec/iast/taint-tracking/plugin.spec.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/resources/evidence-redaction-suite.json
Owners: @DataDog/appsec-js

Improve taint-tracking plugin tests
  packages/dd-trace/src/appsec/iast/taint-tracking/plugin.js
  packages/dd-trace/test/appsec/iast/taint-tracking/plugin.spec.js
Owners: @DataDog/appsec-js

Remove dummy lines
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/index.spec.js
Owners: @DataDog/appsec-js

Comment in PR
  packages/dd-trace/test/appsec/iast/analyzers/sql-injection-analyzer.sequelize.plugin.spec.js
Owners: @DataDog/appsec-js

Delete doble check of sequelizeParentStore
  packages/dd-trace/src/appsec/iast/analyzers/sql-injection-analyzer.js
Owners: @DataDog/appsec-js

Detect SSRF vulnerabilities
  packages/datadog-instrumentations/src/http/client.js
  packages/datadog-instrumentations/src/http2/client.js
  packages/dd-trace/src/appsec/iast/analyzers/analyzers.js
  packages/dd-trace/src/appsec/iast/analyzers/ssrf-analyzer.js
  packages/dd-trace/test/appsec/iast/analyzers/ssrf-analyzer.spec.js
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Fix test
  packages/dd-trace/test/appsec/iast/analyzers/ssrf-analyzer.spec.js
Owners: @DataDog/appsec-js

Add space
  packages/dd-trace/test/appsec/iast/analyzers/ssrf-analyzer.spec.js
Owners: @DataDog/appsec-js

Understand arguments in publisher instead of the subscriber
  packages/datadog-instrumentations/src/http/client.js
  packages/datadog-instrumentations/src/http2/client.js
  packages/dd-trace/src/appsec/iast/analyzers/ssrf-analyzer.js
Owners: @DataDog/dd-trace-js, @DataDog/appsec-js

Redact sensitive information in SSRF vulnerabilities
  packages/dd-trace/src/appsec/iast/vulnerabilities-formatter/evidence-redaction/sensitive-analyzers/url-sensitive-analyzer.js
  packages/dd-trace/src/appsec/iast/vulnerabilities-formatter/evidence-redaction/sensitive-handler.js
  packages/dd-trace/src/appsec/iast/vulnerabilities.js
  packages/dd-trace/test/appsec/iast/vulnerability-formatter/resources/evidence-redaction-suite.json
Owners: @DataDog/appsec-js

Tiny style change
  packages/datadog-instrumentations/src/http/client.js
Owners: @DataDog/dd-trace-js

Tiny code styles
  packages/dd-trace/src/appsec/iast/vulnerabilities-formatter/evidence-redaction/sensitive-analyzers/url-sensitive-analyzer.js
  packages/dd-trace/test/appsec/iast/analyzers/ssrf-analyzer.spec.js
Owners: @DataDog/appsec-js

Use SSRF enum instead of literal
  packages/dd-trace/src/appsec/iast/analyzers/ssrf-analyzer.js
Owners: @DataDog/appsec-js

Try to reduce flaky test
  packages/dd-trace/test/appsec/iast/analyzers/ssrf-analyzer.spec.js
Owners: @DataDog/appsec-js

suggestions
  packages/dd-trace/src/appsec/iast/iast-metric.js
  packages/dd-trace/src/appsec/iast/iast-plugin.js
  packages/dd-trace/src/appsec/iast/index.js
  packages/dd-trace/src/appsec/iast/taint-tracking/operations.js
  packages/dd-trace/src/appsec/iast/taint-tracking/rewriter-telemetry.js
  packages/dd-trace/src/appsec/iast/taint-tracking/rewriter.js
  packages/dd-trace/src/appsec/telemetry/index.js
  packages/dd-trace/src/appsec/telemetry/telemetry-collector.js
  packages/dd-trace/test/appsec/iast/iast-plugin.spec.js
  packages/dd-trace/test/appsec/iast/taint-tracking/rewriter-telemetry.spec.js
  packages/dd-trace/test/appsec/iast/taint-tracking/rewriter.spec.js
  packages/dd-trace/test/appsec/iast/taint-tracking/taint-tracking-operations.spec.js
  packages/dd-trace/test/appsec/telemetry/index.spec.js
  packages/dd-trace/test/appsec/telemetry/span-tags.spec.js
  packages/dd-trace/test/appsec/telemetry/telemetry-collector.spec.js
Owners: @DataDog/appsec-js

Update blocking.js
  packages/dd-trace/src/appsec/blocking.js
Owners: @DataDog/appsec-js
